body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #0057b8;
  text-decoration: none;
  text-align: center;
}

h3 {
  text-align: center;
}

.editor{
  width: 100%;
  height: 100%;
}

.preview {
  background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
              linear-gradient(#0057b8 50%, #FFD700 50%);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 100vh;
  word-break: break-all;
}

#copy-icon{
  cursor: pointer;
}

#ukraine_flag {
  width: 40px;
  height: 40px;
}

#peace_pigeon_icon {
  width: 35px;
  height: 35px;
}

#npm_logo {
  width: 40px;
  height: 40px;
}

